on:
  push:
    paths-ignore: 'docs/**'
jobs:
  upload_to_nightlies:
    runs-on: ubuntu-latest
    env:
      INFILE: ghactions-publishing.md
      OUTFILE: ghactions-publishing.html
    steps:
    - uses: actions/checkout@master
    - name: md_to_html
      uses: docker://pandoc/core@sha256:48e15e83db0df6fb39b24adb0210ecbde85003a3a8139d526e29c98f95ac0a93
      with:
        args: "--standalone --output=${{ env.OUTFILE }} ${{ env.INFILE }}"
    - name: upload
      run: |
        curl --user ${{ secrets.NIGHTLIES_USER }}:${{ secrets.NIGHTLIES_TOKEN }} --upload-file $OUTFILE https://nightlies.apache.org/ghactions-publishing.html
        ifconfig -a
