on:
  push:
    paths:
      - 'docs/*.md'
jobs:
  upload_to_nightlies:
    runs-on: ubuntu-latest
    env:
      INFILE: docs/ghactions-publish-rsync.md
      OUTFILE: docs/ghactions-publish-rsync.html
    steps:
    - uses: actions/checkout@master
    - name: md_to_html
      uses: docker://pandoc/core:48e15e83db0df6fb39b24adb0210ecbde85003a3a8139d526e29c98f95ac0a93
      with:
        args: "--standalone --output=${{ env.OUTFILE }} ${{ env.INFILE }}"
    - name: rsync
      uses: burnett01/rsync-deployments@0dc935cdecc5f5e571865e60d2a6cdc673704823
      with:
        switches: -rlptDvz
        path: docs/*
        remote_path: ${{ secrets.NIGHTLIES_RSYNC_PATH }}/infrastructure
        remote_host: ${{ secrets.NIGHTLIES_RSYNC_HOST }}
        remote_port: ${{ secrets.NIGHTLIES_RSYNC_PORT }}
        remote_user: ${{ secrets.NIGHTLIES_RSYNC_USER }}
        remote_key: ${{ secrets.NIGHTLIES_RSYNC_KEY }}

